<div class="flex max-h-screen min-h-screen dark:bg-gray-700 dark:text-white">
  <textarea
    class="text-sm w-3/6 m-2 p-2 resize-none dark:bg-gray-700"
    placeholder="Paste yarn.lock contents"
    {{on "change" this.updateLockfile}}
    {{on "paste" this.updateLockfile}}
  />

  <div class="text-white bg-blue-700 dark:bg-blue-800 w-3/6 p-4 overflow-y-scroll">
    {{#if this.lockfile.parsingError}}
      <section class="bg-white text-red-500 p-2 rounded-lg shadow-lg">
        <header class="text-lg font-bold">
          <h2>Parsing Error</h2>
        </header>
        {{this.lockfile.parsingError.message}}
      </section>
    {{else if this.lockfile.parsedValue}}
      <div class="flex border-b-2 border-blue-600 mb-2">
        <LinkTo class="tab" @route="index">
          Info
        </LinkTo>

        <LinkTo class="tab" @route="installed">
          Installed
        </LinkTo>

        <LinkTo class="tab" @route="all">
          All
        </LinkTo>
      </div>

      {{outlet}}
    {{else}}
      <p class="flex justify-center items-center h-full">
        No Lockfile
      </p>
    {{/if}}
  </div>
</div>